---
Title: Cake.Hg
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Hg is a set of Cake aliases, which allow to interact with Mercurial through <a href="https://mercurialnet.codeplex.com/">Mercurial.NET</a>.
    </p>
</div>
